.orange {
    background-color: orange !important;
}

.orange-text {
    color: orange !important;
}

.center {
    text-align: center !important;
}

.link-program {
    font-size: medium !important;
}